// User Pages

.app-logo {
  height: 85px;
  width: 175px;
  background: url('/assets/utils/images/logo512.webp');
}

.app-logo-inverse {
  height: 85px;
  width: 175px;
  background: url('/assets/utils/images/logo.png');
}

.app-login-box {
  .app-logo {
    margin-bottom: $layout-spacer-lg;
  }

  h4 {
    margin-bottom: $layout-spacer-x;
    font-weight: normal;

    div {
      opacity: .6;
    }

    span {
      font-size: $font-size-lg;
    }
  }
}